{
  "extends": "@jyb/eslint-config-jyb",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "comma-dangle": "off",
    "no-plusplus": "off",
    "prefer-rest-params": "off",
    "no-console": "off",
    "class-methods-use-this": "off"
  }
}
