// global styles
html{
  height: 100%;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

.ui-fl-l {
  float: left;
}

.ui-fl-r {
  float: right;
}

.ui-ta-c {
  text-align: center;
}

.ui-ta-l {
  text-align: left;
}

.ui-ta-r {
  text-align: right;
}

.ui-text-indent {
  text-indent: 2em;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}